.app-layout {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.app-layout div>button {
	display: block;
	margin: 16px auto 0;
	padding: 16px;
	border-radius: 8px;
	background-color: #222;
	color: #fff;
	transition: background-color 200ms;
}

.app-layout div>button:hover {
	background-color: #111;
}